<!-- HTML form to collect database details -->
<form id="databaseForm" action="../../../index.js">
    <label for="hostName">Host Name:</label>
    <input type="text" id="hostName" name="hostName" required>
    <br>
    <label for="dbname">Database Name:</label>
    <input type="text" id="dbname" name="dbname" required>
    <br>
    <label for="rootUsername">Root Username:</label>
    <input type="text" id="rootUsername" name="rootUsername" required>
    <br>
    <label for="rootPassword">Root Password:</label>
    <input type="password" id="rootPassword" name="rootPassword" required>
    <br>
    <input type="submit" value="Create Database">
  </form>
  